* {
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	border: 1px blue solid;
}

#textTitle, #slogan {
	text-align: center;
}

.timeBox {
	margin: auto;
}

.marsDigits {
	float: left;
	font-size: 28px;
	color: red;
	width: 50px;
}